{% extends "base-web.html" %}
{% load static %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/login.css'%}" />
{% endblock %}


{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded box-shadow bg-principal">
        <div class="lh-100">
            <h6 class="mb-0 lh-100 text-center">INICIAR SESION</h6>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {% if credentialError %}
                <div class="alert alert-danger m-2" role="alert">
                    ¡No se encontró el usuario!
                </div>
                {% endif %}
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="{% static 'img/logo-ud.png'%}" id="icon" alt="User Icon" />
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <input type="text" id="username" class="fadeIn second" name="username"
                        placeholder="Nombre de usuario">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
                    <input type="submit" class="fadeIn fourth bg-button" value="Iniciar Sesión">
                </form>
            </div>
        </div>
</main>
{% endblock %}